@use "../abstracts/variables" as var;
@use "../base/fonts";
@use "../abstracts/mixins";

%btn-base {
	width: 156px;
	height: 40px;
	@extend %display-centered;
	color: var.$white;
	border: none;
	background-color: var.$primary;
	@include mixins.font(
		var.$font-bold,
		var.$font-size-medium,
		"Monteserrat",
		sans-serif
	);
	transition: all 0.2s ease;
}
.btn-primary {
	@extend %btn-base;
	&:hover,
	&:focus-within {
		@include mixins.hoverable();
	}
}
.btn-small {
	position: absolute;
	top: var.$space-big;
	left: var.$space-big;
	@extend %btn-base;
	width: 54px;
	height: 28px;
	font-size: var.$font-size-small;
	font-family: "Inter", sans-serif;
	visibility: hidden;
	&.in-sale {
		visibility: visible;
	}
}
.filter-button {
	background-color: var.$white;
	border: var.$border-regular solid var.$soft-gray;
	color: var.$secondary;

	@include mixins.font(
		var.$font-regular,
		var.$font-size-medium,
		"Monteserrat",
		sans-serif
	);

	height: 100%;
	width: 100px;
	border: 2px solid var.$soft-gray;
	transition: all 0.2s ease;
	&:hover,
	&:active,
	&:focus {
		color: var.$white;
		background-color: var.$primary;
		border: none;
	}
}

.page-button {
	position: relative;
	@include mixins.font(
		var.$font-bold,
		var.$font-size-small,
		"Inter",
		sans-serif
	);
	@extend %btn-base;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 2px solid transparent;
	height: 40px;
	min-width: 40px;
	width: auto;
	padding: 0 20px;
	border-radius: var.$radius-small;
	margin-right: var.$space-small;
	&__invert {
		@extend .page-button;
		background-color: transparent;

		color: var.$black;
		&:hover,
		&:focus {
			border: var.$border-regular solid var.$primary;
			transition: none;
		}
		&:active {
			@include mixins.hoverable();
			background-color: var.$primary;
			color: var.$white;
		}
	}
	&__hidden {
		visibility: hidden;
	}
	&__empty {
		.right-arrow {
			width: 100%;
			height: 100%;
			position: relative;
			display: block;
			background-image: url("/../../assets/images/cataloge/arrow_right.svg");
			background-size: 16px 8px;
			background-position-x: right;
			background-position-y: center;
			background-repeat: no-repeat;
			padding: 0 var.$space-medium;
			filter: invert(-1);
		}
		.left-arrow {
			@extend .right-arrow;
			transform: scale(-1);
		}
		@extend .page-button;
		background-color: transparent;
		border: var.$border-regular solid var.$primary;
		color: var.$black;
		&:hover {
			color: var.$white;
			background-color: var.$primary;
			.right-arrow,
			.left-arrow {
				filter: invert(1);
			}
		}
		&:active {
			@include mixins.hoverable();
		}
	}
}

.btn-link-primary,
a.btn-link-primary {
	width: 174px;
	height: 60px;
	@extend .btn-primary;
	padding: var.$space-small 0;
	margin: var.$space-big 0;
}

.btn-link-primary:hover {
	@include mixins.hoverable();
}

.container {
	width: var.$brakepoint-large;
	margin: 0 auto;
	margin-bottom: clamp(var.$space-big, 10vw - var.$space-big, var.$space-mega);
	@media screen and (width <= var.$brakepoint-large) {
		width: var.$brakepoint-medium;
	}
	@media screen and (width <= var.$brakepoint-medium) {
		width: var.$brakepoint-small;
	}
	@media screen and (width <= var.$brakepoint-small) {
		width: 100%;
	}
}
.travel-card {
	position: relative;
	overflow: hidden;
	width: 296px;
	height: 600px;
	color: var.$white;

	&__image-content {
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
		z-index: 0;
	}
	&__body {
		position: relative;
		z-index: 1;
		padding: 2.5em;
		padding-right: var.$space-verybig;
		background-color: var.$black40;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		text-align: start;
		row-gap: var.$space-bigger;
		line-height: var.$font-size-big;
		font-size: var.$font-size-medium;
	}
	&:hover {
		transform: scale(1.03);
		box-shadow: var.$shadow-drop;
		transition: transform 0.2s ease-out;
	}
}
.product-list {
	text-align: center;
	&__container {
		position: relative;
		width: fit-content;
		display: flex;
		justify-content: start;
		column-gap: var.$space-big;
		margin-top: var.$space-verybig;
		margin-bottom: var.$space-big;
		&--slider {
			left: -296px;
		}
	}
	&__fluid {
		margin-top: var.$space-verybig;
		margin-bottom: var.$space-big;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		column-gap: var.$space-big;
		row-gap: var.$space-big;
	}

	&--mounted {
		column-gap: 0;
		overflow: visible;
		.product-list__container {
			column-gap: 0;
			width: 100%;
			display: flex;
			row-gap: var.$space-verybig;
			justify-content: space-around;
			flex-wrap: wrap;
		}
	}
}

.flex-item {
	display: flex;
	justify-content: center;
}

.banner {
	@include mixins.background-overlay(
		"../../assets/images/homepage/offer/month_offer.webp"
	);

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	box-shadow: var.$shadow-drop;
	color: var.$white;
	padding: var.$space-big 0;
	row-gap: var.$space-verybig;
	.side {
		@extend %display-centered;
		padding: 0 var.$space-medium;
		p.description {
			color: var.$white;
		}
	}
	.side:first-child {
		text-align: center;

		h2 {
			font-size: clamp(1.5em, 4em + 12vw, 15em);
		}
	}
}

@media screen and (width <= var.$brakepoint-large) {
	.flex-item {
		flex: 0 0 50%;
	}
}

@media screen and (width <= var.$brakepoint-small) {
	.banner {
		grid-template-columns: 1fr;
		.side {
			text-align: center;
			.side-content {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
		}
	}
}
