@use "../abstracts/variables" as settings;
@use "../base/fonts";
@use "../abstracts/mixins";

%btn-base {
	width: settings.$btn-width-regular;
	height: settings.$btn-height-regular;
	@extend %display-centered;
	color: settings.$white;
	border: none;
	background-color: settings.$primary;
	@include mixins.font(
		settings.$font-bold,
		settings.$font-size-medium,
		"Montserrat"
	);
	transition: all 0.2s ease;
}
%btn-primary-style {
	@extend %btn-base;
	&:hover,
	&:focus-within {
		@include mixins.hoverable();
	}
	cursor: pointer;
	&__login {
		@include mixins.font(null, settings.$font-size-small, "Inter");
	}
}

.btn-primary {
	@extend %btn-primary-style;
	@include mixins.font(null, null, "SFPro");
}
.btn-big {
	@extend %btn-primary-style;
	width: settings.$btn-width-large;
	height: settings.$btn-height-large;
	@include mixins.font(null, settings.$font-size-regular);
}
.btn-medium {
	@extend %btn-primary-style;

	height: settings.$btn-height-medium;
	width: clamp(
		settings.$btn-width-clamp-min,
		50%,
		settings.$btn-width-clamp-max
	);
	padding: 0 settings.$space-medium;

	font-size: settings.$font-size-regular;
	&:disabled {
		background-color: settings.$primary-50;
		pointer-events: none;
		cursor: default;
	}
}
.btn-small {
	position: absolute;
	top: settings.$space-big;
	left: settings.$space-big;

	@extend %btn-base;
	width: settings.$btn-width-small;
	height: settings.$btn-height-small;
	font-size: settings.$font-size-small;
	font-family: "Inter", sans-serif;
	visibility: hidden;
	&.in-sale {
		visibility: visible;
	}
}
.filter-button {
	background-color: settings.$white;
	color: settings.$secondary;

	@include mixins.font(
		settings.$font-regular,
		settings.$font-size-medium,
		"Monteserrat",
		sans-serif
	);

	height: 100%;
	width: 100px;
	border: settings.$border-regular solid settings.$soft-gray;
	transition: all 0.2s ease;
	&:hover,
	&:active,
	&:focus,
	&:focus-within {
		color: settings.$white;
		background-color: settings.$primary;
		border: none;
	}
}
%page-button-base {
	position: relative;
	@extend %btn-base;
	@include mixins.font(null, settings.$font-size-small, "Inter");
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: settings.$border-regular solid transparent;
	border-radius: settings.$radius-small;
	margin-right: settings.$space-small;
}
%page-button-dimensions {
	height: settings.$btn-height-regular;
	min-width: settings.$btn-height-regular;
	width: auto;
	padding: 0 settings.$font-size-xmedium;
}

.page-button {
	@extend %page-button-base;
	@extend %page-button-dimensions;
	&__invert {
		@extend %page-button-base;
		background-color: transparent;
		color: settings.$black;
		width: settings.$btn-width-medium;
		&:hover,
		&:focus,
		&:focus-within {
			border-color: settings.$primary;
			transition: none;
		}
		&:active {
			@include mixins.hoverable();
			background-color: settings.$primary;
			color: settings.$white;
			border-color: settings.$primary;
		}
	}
	&__hidden {
		visibility: hidden;
	}
	&__empty {
		%arrow-base {
			width: 100%;
			height: 100%;
			position: relative;
			display: block;
			background-image: url("/../../assets/images/cataloge/arrow_right.svg");
			background-size: settings.$space-regular settings.$space-small;
			background-position-x: right;
			background-position-y: center;
			background-repeat: no-repeat;
			padding: 0 settings.$space-medium;
			filter: invert(0);
		}
		.right-arrow {
			@extend %arrow-base;
		}
		.left-arrow {
			@extend %arrow-base;
			transform: scaleX(-1);
		}
		@extend .page-button;
		background-color: transparent;
		border: settings.$border-regular solid settings.$primary;
		color: settings.$black;
		&:hover,
		&:focus-within {
			color: settings.$white;
			background-color: settings.$primary;
			.right-arrow,
			.left-arrow {
				filter: invert(1);
			}
		}
		&:active {
			@include mixins.hoverable();
		}
	}
}

.btn-link-primary,
a.btn-link-primary {
	@extend %btn-primary-style;
	width: 174px;
	height: 60px;
	padding: settings.$space-small 0;
	margin: settings.$space-big 0;
}

.btn-link-primary {
	&:hover,
	&:focus-within {
		@include mixins.hoverable();
	}
}

.popup-search {
	position: sticky;
	grid-column: 1/-1;
	background-color: settings.$secondary;
	color: settings.$white;
	top: settings.$popup-search-top-offset;
	width: 100%;
	min-height: settings.$popup-search-height;
	z-index: settings.z("search-popup");
	&__content {
		margin: 0 auto;
		text-align: center;
		width: settings.$layout-container-width;
		height: 100%;
		@extend %display-centered;
		row-gap: settings.$space-bigger;
		flex-direction: column;
	}
}

.container {
	width: settings.$breakpoint-large;
	margin: 0 auto;
	margin-bottom: clamp(
		settings.$space-big,
		10vw - settings.$space-big,
		settings.$space-mega
	);
	@media screen and (max-width: settings.$breakpoint-large) {
		width: settings.$breakpoint-medium;
	}
	@media screen and (max-width: settings.$breakpoint-medium) {
		width: settings.$breakpoint-small;
	}
	@media screen and (max-width: settings.$breakpoint-small) {
		width: 100%;
	}
}
.travel-card {
	position: relative;
	overflow: hidden;
	width: settings.$travel-card-width;
	height: settings.$travel-card-height;
	color: settings.$white;
	@include mixins.font(
		settings.$font-bold,
		settings.$font-size-travelcard,
		"Montserrat"
	);
	&__image-content {
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
	}
	&__body {
		@include mixins.font(null, settings.$font-size-travelcard);
		position: relative;
		z-index: settings.z("default");
		padding: settings.$font-size-ultrabig;
		padding-right: settings.$travel-card-spacing;
		background-color: settings.$black40;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		text-align: start;
		row-gap: settings.$space-bigger;
		line-height: settings.$font-size-big;
		& h3 {
			@include mixins.font(settings.$font-bold, settings.$font-size-travelcard);
		}
	}
	&__text {
		@include mixins.font(settings.$font-regular);
	}
	&:hover,
	&:focus-within {
		transform: scale(1.03);
		box-shadow: settings.$shadow-drop;
		transition: transform 0.2s ease-out;
	}
}
.product-list {
	text-align: center;
	&__container {
		position: relative;
		width: fit-content;
		display: flex;
		justify-content: start;
		column-gap: settings.$space-big;
		margin-top: settings.$space-verybig;
		margin-bottom: settings.$space-big;
		&--slider {
			left: settings.$travel-card-width * -1;
		}
	}
	&__fluid {
		margin-top: settings.$space-verybig;
		margin-bottom: settings.$space-big;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		column-gap: settings.$space-big;
		row-gap: settings.$space-big;
	}

	&--mounted {
		column-gap: 0;
		overflow: visible;
		.product-list__container {
			column-gap: 0;
			width: 100%;
			display: flex;
			row-gap: settings.$space-verybig;
			justify-content: space-around;
			flex-wrap: wrap;
		}
	}
}

.flex-item {
	display: flex;
	justify-content: center;
}

.banner {
	@include mixins.background-overlay(
		"../../assets/images/homepage/offer/month_offer.webp"
	);

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	box-shadow: settings.$shadow-drop;
	color: settings.$white;
	padding: settings.$space-big 0;
	row-gap: settings.$space-verybig;
	.side {
		@extend %display-centered;
		padding: 0 settings.$space-medium;
	}
	.side:first-child {
		text-align: center;
		h2 {
			font-size: clamp(
				settings.$font-size-xlarge,
				14vw,
				settings.$font-size-xmega
			);
		}
	}
}

.awards {
	height: auto;

	@include mixins.font(
		settings.$font-bold,
		settings.$font-size-xmedium,
		"Montserrat"
	);
	&__container {
		margin: settings.$space-mega settings.$space-medium;
		@extend %display-centered;
		justify-content: space-around;
		row-gap: settings.$font-size-big;
		flex-wrap: wrap;
	}
	&__item {
		@extend %display-centered;
		flex-direction: column;
		row-gap: settings.$space-big;
		width: settings.$award-item-width;
		height: auto;
		min-height: settings.$award-item-height;
		justify-content: space-between;
	}
	&__text {
		text-align: center;
		font-size: medium;
		font-weight: settings.$font-regular;
		line-height: settings.$line-height-medium;
	}
}

.card {
	display: grid;
	box-shadow: settings.$shadow-drop;
	grid-template-columns: repeat(2, 1fr);
	aspect-ratio: 2/1;

	&__arrival {
		grid-template-columns: repeat(2, 0.5fr);
		column-gap: settings.$space-medium;
		grid-template-rows: 1fr;
		box-shadow: none;
	}
	&__col {
		@extend %display-centered;
		padding: 0 settings.$space-ultrabig;
		aspect-ratio: 1 / 1;
	}
	&__col--arrival {
		height: 100%;
		justify-content: space-between;
		padding: 0;
	}

	&__col--left {
		height: 100%;
		background-color: settings.$white;
	}
	&__col--right {
		color: settings.$white;
		@include mixins.background-overlay(
			"../../assets/images/homepage/discounted_suitcases2x.png"
		);
	}
	&__col--right--arrival {
		justify-content: flex-end;
		width: 100%;
		height: 100%;
	}
	&__btn--arrival {
		width: settings.$button-arrival-width;
		height: settings.$space-verybig;
		font-size: settings.$font-size-medium;
	}
	&__image--arrival {
		object-fit: cover;
		width: 100%;
		height: 100%;

		object-position: center;
	}
	&.card-title {
		font-weight: settings.$font-black;
	}
}
@media screen and (max-width: settings.$breakpoint-large) {
	.card {
		font-size: settings.$font-size-regular;
		&__arrival {
			grid-template-columns: repeat(2, 0.5fr);
			grid-template-rows: 1fr;
		}
		&__col {
			padding: 0 settings.$space-bigger * 2;
		}
		&__col--arrival {
			align-items: flex-start;
			padding: 0;
		}
		&__col--right--arrival {
			justify-content: center;
		}
		&__image--arrival {
			object-fit: cover;
		}
	}
}
@media screen and (max-width: settings.$breakpoint-medium) {
	.card {
		display: flex;
		flex-direction: column;
		box-shadow: settings.$shadow-drop;
		font-size: settings.$font-size-regular;
		&__arrival {
			width: 100%;
			aspect-ratio: initial;
		}
		> * {
			padding: 0 settings.$space-bigger;
		}
		&__col--arrival {
			align-items: flex-start;
			aspect-ratio: initial;
			padding: 0;
		}
		&__btn--arrival {
			width: 100%;
			height: settings.$space-bigger;
			font-size: settings.$font-size-regular;
			font-weight: settings.$font-medium;
		}
		&__image--arrival {
			width: settings.$breakpoint-small;

			object-fit: cover;
		}
	}
}
@media screen and (max-width: settings.$breakpoint-small) {
	.card {
		font-size: settings.$font-size-regular;
		> * {
			padding: 0 settings.$space-medium;
		}
		&__arrival {
			row-gap: settings.$space-big;
			aspect-ratio: initial;
		}
		&__image--arrival {
			width: 100vw;
			aspect-ratio: initial;
		}
	}
}

@media screen and (max-width: settings.$breakpoint-large) {
	.flex-item {
		flex: 0 0 50%;
	}
}

@media screen and (max-width: settings.$breakpoint-small) {
	.banner {
		grid-template-columns: 1fr;
		.side {
			text-align: center;
			.side-content {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
		}
	}
}

.hide {
	display: none;
}
.popup {
	color: settings.$primary;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: settings.$secondary;
	z-index: settings.z("sticky-header");
	@extend %display-centered;
	&__message {
		padding: settings.$space-bigger;
		line-height: settings.$space-medium;
		@include mixins.font(
			settings.$font-bold,
			settings.$font-size-medium,
			"Montserrat"
		);
		width: settings.$popup-width;
		height: settings.$popup-height;
		background-color: settings.$white;
		@extend %display-centered;
		box-shadow: settings.$shadow-drop;
	}
	&__rounded {
		border-radius: settings.$radius-large;
	}
}

.success {
	color: settings.$success;
}
.failure {
	color: settings.$failure;
}

.fluid {
	width: 100%;
}

.flat-hero {
	height: clamp(
		settings.$flat-hero-height-min,
		50vw,
		settings.$flat-hero-height-max
	);
	@include mixins.background-overlay(
		"../../assets/images/aboutus/banner_image.webp"
	);
	&__content {
		width: 100%;
		height: 100%;
		@extend %display-centered;
		flex-direction: column;
	}
	&__title {
		color: settings.$white;
		margin: 0;
		@include mixins.font(
			settings.$font-bold,
			clamp(settings.$font-size-large, 4vw, settings.$font-size-mega),
			"Montserrat"
		);
	}
	&__text {
		font-size: settings.$font-size-medium;
		margin-top: settings.$space-xlarge;
	}
	&--cart {
		height: settings.$flat-hero-cart-height;
		@include mixins.background-overlay-black-50(
			"../../assets/images/cart/highway_image.jpg"
		);
	}
}
