@use "../abstracts/variables" as settings;
@use "../base/fonts";
@use "../abstracts/mixins";

%btn-base {
	width: 156px;
	height: 40px;
	@extend %display-centered;
	color: settings.$white;
	border: none;
	background-color: settings.$primary;
	@include mixins.font(
		settings.$font-bold,
		settings.$font-size-medium,
		"Monteserrat",
		sans-serif
	);
	transition: all 0.2s ease;
}
.btn-primary {
	@extend %btn-base;
	&:hover,
	&:focus-within {
		@include mixins.hoverable();
	}
	cursor: pointer;
	&__login {
		font-size: settings.$font-size-small;
		font-family: "Inter" sans-serif;
	}
}
.btn-small {
	position: absolute;
	top: settings.$space-big;
	left: settings.$space-big;
	@extend %btn-base;
	width: 54px;
	height: 28px;
	font-size: settings.$font-size-small;
	font-family: "Inter", sans-serif;
	visibility: hidden;
	&.in-sale {
		visibility: visible;
	}
}
.filter-button {
	background-color: settings.$white;
	color: settings.$secondary;

	@include mixins.font(
		settings.$font-regular,
		settings.$font-size-medium,
		"Monteserrat",
		sans-serif
	);

	height: 100%;
	width: 100px;
	border: settings.$border-regular solid settings.$soft-gray;
	transition: all 0.2s ease;
	&:hover,
	&:active,
	&:focus {
		color: settings.$white;
		background-color: settings.$primary;
		border: none;
	}
}

.page-button {
	position: relative;
	@include mixins.font(
		settings.$font-bold,
		settings.$font-size-small,
		"Inter",
		sans-serif
	);
	@extend %btn-base;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 2px solid transparent;
	height: 40px;
	min-width: 40px;
	width: auto;
	padding: 0 20px;
	border-radius: settings.$radius-small;
	margin-right: settings.$space-small;
	&__invert {
		@extend .page-button;
		background-color: transparent;

		color: settings.$black;
		&:hover,
		&:focus {
			border: settings.$border-regular solid settings.$primary;
			transition: none;
		}
		&:active {
			@include mixins.hoverable();
			background-color: settings.$primary;
			color: settings.$white;
		}
	}
	&__hidden {
		visibility: hidden;
	}
	&__empty {
		.right-arrow {
			width: 100%;
			height: 100%;
			position: relative;
			display: block;
			background-image: url("/../../assets/images/cataloge/arrow_right.svg");
			background-size: 16px 8px;
			background-position-x: right;
			background-position-y: center;
			background-repeat: no-repeat;
			padding: 0 settings.$space-medium;
			filter: invert(-1);
		}
		.left-arrow {
			@extend .right-arrow;
			transform: scale(-1);
		}
		@extend .page-button;
		background-color: transparent;
		border: settings.$border-regular solid settings.$primary;
		color: settings.$black;
		&:hover {
			color: settings.$white;
			background-color: settings.$primary;
			.right-arrow,
			.left-arrow {
				filter: invert(1);
			}
		}
		&:active {
			@include mixins.hoverable();
		}
	}
}

.btn-link-primary,
a.btn-link-primary {
	width: 174px;
	height: 60px;
	@extend .btn-primary;
	padding: settings.$space-small 0;
	margin: settings.$space-big 0;
}

.btn-link-primary:hover {
	@include mixins.hoverable();
}

.popup-search {
	position: sticky;
	grid-column: 1/-1;
	background-color: settings.$secondary;
	color: settings.$white;
	top: 200px;
	width: 100%;
	height: 200px;
	z-index: 20;
	&__content {
		margin: 0 auto;
		text-align: center;
		width: 80%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
}

.container {
	width: settings.$brakepoint-large;
	margin: 0 auto;
	margin-bottom: clamp(
		settings.$space-big,
		10vw - settings.$space-big,
		settings.$space-mega
	);
	@media screen and (max-width: settings.$brakepoint-large) {
		width: settings.$brakepoint-medium;
	}
	@media screen and (max-width: settings.$brakepoint-medium) {
		width: settings.$brakepoint-small;
	}
	@media screen and (max-width: settings.$brakepoint-small) {
		width: 100%;
	}
}
.travel-card {
	position: relative;
	overflow: hidden;
	width: 296px;
	height: 600px;
	color: settings.$white;

	&__image-content {
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
		z-index: 0;
	}
	&__body {
		position: relative;
		z-index: 1;
		padding: 2.5em;
		padding-right: settings.$space-verybig;
		background-color: settings.$black40;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		text-align: start;
		row-gap: settings.$space-bigger;
		line-height: settings.$font-size-big;
		font-size: settings.$font-size-medium;
	}
	&:hover {
		transform: scale(1.03);
		box-shadow: settings.$shadow-drop;
		transition: transform 0.2s ease-out;
	}
}
.product-list {
	text-align: center;
	&__container {
		position: relative;
		width: fit-content;
		display: flex;
		justify-content: start;
		column-gap: settings.$space-big;
		margin-top: settings.$space-verybig;
		margin-bottom: settings.$space-big;
		&--slider {
			left: -296px;
		}
	}
	&__fluid {
		margin-top: settings.$space-verybig;
		margin-bottom: settings.$space-big;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		column-gap: settings.$space-big;
		row-gap: settings.$space-big;
	}

	&--mounted {
		column-gap: 0;
		overflow: visible;
		.product-list__container {
			column-gap: 0;
			width: 100%;
			display: flex;
			row-gap: settings.$space-verybig;
			justify-content: space-around;
			flex-wrap: wrap;
		}
	}
}

.flex-item {
	display: flex;
	justify-content: center;
}

.banner {
	@include mixins.background-overlay(
		"../../assets/images/homepage/offer/month_offer.webp"
	);

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	box-shadow: settings.$shadow-drop;
	color: settings.$white;
	padding: settings.$space-big 0;
	row-gap: settings.$space-verybig;
	.side {
		@extend %display-centered;
		padding: 0 settings.$space-medium;
		p.description {
			color: settings.$white;
		}
	}
	.side:first-child {
		text-align: center;

		h2 {
			font-size: clamp(1.5em, 4em + 12vw, 15em);
		}
	}
}

.awards {
	height: auto;

	@include mixins.font(
		settings.$font-bold,
		settings.$font-size-xmedium,
		"Montserrat",
		sans-serif
	);
	&__container {
		margin: settings.$space-mega settings.$space-medium;
		@extend %display-centered;
		justify-content: space-around;
		row-gap: 30px;
		flex-wrap: wrap;
	}
	&__item {
		@extend %display-centered;
		flex-direction: column;
		row-gap: settings.$space-big;
		width: 230px;
		height: auto;
		min-height: 237px;
		justify-content: space-between;
	}
	&__text {
		text-align: center;
		font-size: medium;
		font-weight: settings.$font-regular;
		line-height: 1.6em;
	}
}

.card {
	display: grid;
	grid-template-columns: repeat(2, calc(settings.$brakepoint-large / 2));
	grid-template-rows: calc(settings.$brakepoint-large / 2);
	box-shadow: settings.$shadow-drop;

	&__arrival {
		grid-template-columns: repeat(2, 0.5fr);
		column-gap: settings.$space-medium;
		grid-template-rows: 1fr;
		box-shadow: none;
	}
	&__col {
		@extend %display-centered;
		padding: 0 settings.$space-ultrabig;
	}
	&__col--arrival {
		height: 100%;
		justify-content: space-between;
		padding: 0;
	}

	&__col--left {
		height: 100%;
		background-color: settings.$white;
	}
	&__col--right {
		color: white;
		@include mixins.background-overlay(
			"../../assets/images/homepage/discounted_suitcases2x.png"
		);
	}
	&__col--right--arrival {
		justify-content: flex-end;
		width: 100%;
		height: 100%;
	}
	&__btn--arrival {
		width: 200px;
		height: settings.$space-verybig;
		font-size: settings.$font-size-medium;
	}
	&__image--arrival {
		object-fit: cover;
		width: 100%;

		object-position: center;
	}
	&.card-title {
		font-weight: settings.$font-black;
	}
}
.card-content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
@media screen and (max-width: settings.$brakepoint-large) {
	.card {
		grid-template-columns: repeat(2, calc(settings.$brakepoint-medium / 2));
		grid-template-rows: calc(settings.$brakepoint-medium / 2);
		font-size: settings.$font-size-regular;
		&__arrival {
			grid-template-columns: repeat(2, 0.5fr);
			grid-template-rows: 1fr;
		}
		&__col {
			padding: 0 settings.$space-bigger * 2;
		}
		&__col--arrival {
			align-items: flex-start;
			padding: 0;
		}
		&__col--right--arrival {
			justify-content: center;
		}
	}
}
@media screen and (max-width: settings.$brakepoint-medium) {
	.card {
		grid-template-columns: repeat(2, calc(settings.$brakepoint-small / 2));
		grid-template-rows: calc(settings.$brakepoint-small / 2);
		font-size: settings.$font-size-regular;
		&__arrival {
			grid-template-columns: repeat(2, 0.5fr);
			grid-template-rows: 1fr;
		}
		> * {
			padding: 0 settings.$space-bigger;
		}
		&__col--arrival {
			align-items: flex-start;
			padding: 0;
		}
		&__btn--arrival {
			width: 100%;
			height: settings.$space-bigger;
			font-size: settings.$font-size-regular;
			font-weight: settings.$font-medium;
		}
	}
}
@media screen and (max-width: settings.$brakepoint-small) {
	.card {
		grid-template-columns: 100vw;
		grid-template-rows: 100vw 100vw;
		font-size: settings.$font-size-regular;
		> * {
			padding: 0 settings.$space-medium;
		}
		&__arrival {
			row-gap: settings.$space-big;
			grid-template-rows: 1fr;
		}
		&__image--arrival {
			width: 100vw;
		}
	}
}

@media screen and (max-width: settings.$brakepoint-large) {
	.flex-item {
		flex: 0 0 50%;
	}
}

@media screen and (max-width: settings.$brakepoint-small) {
	.banner {
		grid-template-columns: 1fr;
		.side {
			text-align: center;
			.side-content {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
		}
	}
}

.hide {
	display: none;
}
.popup {
	position: absolute;
	color: settings.$primary;

	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(39, 39, 39, 0.219);
	z-index: 100;
	@extend %display-centered;
	&__message {
		@include mixins.font(
			settings.$font-bold,
			settings.$font-size-medium,
			"Montserrat",
			sans-serif
		);
		width: 400px;
		height: 100px;
		background-color: white;
		@extend %display-centered;
	}
	box-shadow: settings.$shadow-drop;
}

.success {
	color: settings.$success;
}
.failure {
	color: settings.$failure;
}

.fluid {
	width: 100%;
}

.flat-hero {
	height: clamp(180px, 50vw, 554px);
	@include mixins.background-overlay(
		"../../assets/images/aboutus/banner_image.webp"
	);
	&__content {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__title {
		color: settings.$white;
		margin: 0;
		@include mixins.font(
			settings.$font-bold,
			clamp(2em, 4vw, settings.$font-size-mega),
			"Montserrat",
			sans-serif
		);
	}
	&__text {
		font-size: settings.$font-size-medium;
		margin-top: settings.$space-xlarge;
	}
}
