@use "../abstracts/variables" as var;
@use "../base/fonts";
@use "../abstracts/mixins";

.btn-primary {
	width: 156px;
	height: 40px;
	@extend %display-centered;
	color: var.$white;
	border: none;
	background-color: var.$primary;
	@include mixins.font(
		var.$font-bold,
		var.$font-size-medium,
		"Monteserrat",
		sans-serif
	);
}

.btn-small {
	position: absolute;
	top: var.$space-big;
	left: var.$space-big;
	@extend .btn-primary;
	width: 54px;
	height: 28px;
	font-size: var.$font-size-small;
	font-family: "Inter", sans-serif;
	visibility: hidden;
	&.in-sale {
		visibility: visible;
	}
}

a.btn-link-primary {
	width: 174px;
	height: 60px;
	@extend .btn-primary;
	padding: var.$space-small 0;
	margin: var.$space-big 0;
}

.btn-link-primary:hover {
	transform: scale(1.05);
	transition: transform 0.2s ease-out;
}

.fluid {
	width: 100vw;
}
.container {
	width: var.$brakepoint-large;
	margin: 0 auto;
	margin-bottom: clamp(var.$space-big, 10vw - var.$space-big, var.$space-mega);
	@media screen and (width <= var.$brakepoint-large) {
		width: var.$brakepoint-medium;
	}
	@media screen and (width <= var.$brakepoint-medium) {
		width: var.$brakepoint-small;
	}
	@media screen and (width <= var.$brakepoint-small) {
		width: 100%;
	}
}
.travel-card {
	position: relative;
	overflow: hidden;
	width: 296px;
	height: 600px;
	color: var.$white;

	&__image-content {
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
		z-index: 0;
	}
	&__body {
		position: relative;
		z-index: 1;
		padding: 2.5em;
		padding-right: var.$space-verybig;
		background-color: var.$black40;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		text-align: start;
		row-gap: var.$space-bigger;
		line-height: var.$font-size-big;
		font-size: var.$font-size-medium;
	}
	&:hover {
		transform: scale(1.03);
		box-shadow: var.$shadow-drop;
		transition: transform 0.2s ease-out;
	}
}
.product-list {
	text-align: center;
	&__container {
		position: relative;
		width: fit-content;
		display: flex;
		justify-content: start;
		column-gap: var.$space-big;
		margin-top: var.$space-verybig;
		margin-bottom: var.$space-big;
		&--slider {
			left: -296px;
		}
	}
	&__fluid {
		margin-top: var.$space-verybig;
		margin-bottom: var.$space-big;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		column-gap: var.$space-big;
		row-gap: var.$space-big;
	}

	&--mounted {
		column-gap: 0;
		overflow: visible;
		.product-list__container {
			column-gap: 0;
			width: 100%;
			display: flex;
			row-gap: var.$space-verybig;
			justify-content: space-around;
			flex-wrap: wrap;
		}
	}
}

.flex-item {
	display: flex;
	justify-content: center;
}

.banner {
	@include mixins.background-overlay(
		"../../assets/images/homepage/offer/month_offer.webp"
	);

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	box-shadow: var.$shadow-drop;
	color: var.$white;
	padding: var.$space-big 0;
	row-gap: var.$space-verybig;
	.side {
		@extend %display-centered;
		padding: 0 var.$space-medium;
		p.description {
			color: var.$white;
		}
	}
	.side:first-child {
		text-align: center;

		h2 {
			font-size: clamp(1.5em, 4em + 12vw, 15em);
		}
	}
}

@media screen and (width <= var.$brakepoint-large) {
	.flex-item {
		flex: 0 0 50%;
	}
}

@media screen and (width <= var.$brakepoint-small) {
	.banner {
		grid-template-columns: 1fr;
		.side {
			text-align: center;
			.side-content {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
		}
	}
}
