@use "../abstracts/variables" as var;
@use "../base/fonts";
@use "../abstracts/mixins";

.btn-primary {
	width: 156px;
	height: 40px;
	@extend %display-centered;
	color: var.$white;
	border: none;
	background-color: var.$primary;
	@include mixins.font(
		var.$font-bold,
		var.$font-size-medium,
		"Monteserrat",
		sans-serif
	);
}

.btn-small {
	position: absolute;
	top: var.$space-big;
	left: var.$space-big;
	@extend .btn-primary;
	width: 54px;
	height: 28px;
	font-size: var.$font-size-small;
	font-family: "Inter", sans-serif;
	visibility: hidden;
	&.in-sale {
		visibility: visible;
	}
}

a.btn-link-primary {
	width: 174px;
	height: 60px;
	@extend .btn-primary;
	padding: var.$space-small 0;
	margin: var.$space-big 0;
}

.btn-link-primary:hover {
	transform: scale(1.05);
	transition: transform 0.2s ease-out;
}

.fluid {
	width: 100vw;
}

.responsive {
	width: var.$brakepoint-large;
	margin: 0 auto;
	@media screen and (width <= var.$brakepoint-large) {
		width: var.$brakepoint-medium;
	}
	@media screen and (width <= var.$brakepoint-medium) {
		width: var.$brakepoint-small;
	}
	@media screen and (width <= var.$brakepoint-small) {
		width: 100%;
	}
	p.description,
	h2,
	h1,
	.avatar-item {
		margin: clamp(var.$space-small, 2vw, var.$space-bigger) 0;
	}
	h1 {
		margin: var.$space-bigger 0;
		width: 80%;
		font-weight: var.$font-black;
		font-size: clamp(1.5em, 1em + 2vw, 4em);
	}
	h2 {
		font-size: clamp(1.5em, 1.5em + 1vw, 4em);
	}
	p.description {
		font-size: clamp(
			var.$font-size-regular,
			var.$font-size-regular + 0.1vw - 1px,
			var.$font-size-medium
		);
	}
}

section.product-list.responsive {
	text-align: center;
	p.description,
	h2 {
		margin: 10px 0;
	}
	overflow: hidden;
	&.selected-products {
		// background-color: aquamarine;
		overflow: visible;
		.flex-container {
			column-gap: 0;
			flex-wrap: wrap;
			.product-card {
				flex: 0 1 none;
			}
		}
	}
	.flex-container {
		position: relative;
		width: fit-content;
		display: flex;
		justify-content: start;
		column-gap: var.$space-big;
		margin-top: var.$space-verybig;
		margin-bottom: var.$space-big;
		// transition: all 2s ease;
		&.slider {
			left: -296px;
		}
		.travel-card {
			position: relative;
			overflow: hidden;
			width: 296px;
			height: 600px;

			.card-image-content {
				position: absolute;
				top: 0;
				left: 0;
				object-fit: cover;
				z-index: 0;
			}
			.card-body {
				position: relative;
				z-index: 1;
				padding: var.$space-big;
				background-color: var.$black40;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				align-items: flex-start;
				text-align: start;
				> * {
					color: var.$white;
				}
			}
			&:hover {
				transform: scale(1.03);
				box-shadow: var.$shadow-drop;
				transition: transform 0.2s ease-out;
			}
		}
	}
}
