@use "../abstracts/variables" as settings;
@use "../base/fonts";
@use "../abstracts/mixins";
@use "../base/reset";
@use "../components/buttons";

.feedback {
	margin-bottom: settings.$space-ultrabig;
	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
		column-gap: settings.$space-big;
	}
	&__col--left {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		width: 100%;
		@include mixins.background-overlay-gray-30(
			"/../../assets/images/contactus/contact_form_image.jpg"
		);
	}
	&__col--right {
		grid-column: 2/ 3;
		grid-row: 1/2;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		height: auto;
		row-gap: settings.$space-medium;
	}

	&__header {
		margin-bottom: settings.$space-big;
	}
	&__title {
		@include mixins.font(
			settings.$font-bold,
			settings.$font-size-xlarge,
			"Monteserrat",
			sans-serif
		);
		margin-bottom: settings.$space-bigger;
	}
	&__subtitle {
		@include mixins.font(
			settings.$font-regular,
			settings.$font-size-medium,
			"Monteserrat",
			sans-serif
		);
	}
	&__form {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		height: auto;
		row-gap: settings.$font-size-ultrabig;
	}
	&__label {
		@include mixins.font(
			settings.$font-bold,
			settings.$font-size-medium,
			"Monteserrat",
			sans-serif
		);
	}
	&__input {
		margin-top: settings.$space-smallest;
		width: 100%;
		height: settings.$input-height-regular;
		font-family: "Montserrat", sans-serif;
		border: settings.$border-regular solid settings.$primary-50;
		font-size: settings.$font-size-regular;
		padding-left: settings.$space-smallest;
	}
	&__textarea {
		width: 100%;
		min-height: settings.$dimention-2;
		resize: vertical;
	}
	&__input--wrapper {
		width: 100%;
	}
	&__button {
		font-size: settings.$font-size-small;
		width: settings.$btn-feedback-width;
	}
	&__fieldset-group {
		width: 100%;
		border: none;
		padding: 0;
		margin: 0;
		min-width: 0;
		display: block;
		> legend {
			padding: 0;
			margin: 0;
		}
	}
}

@media screen and (max-width: settings.$breakpoint-medium) {
	.feedback {
		&__container {
			grid-template-columns: 1fr;
			grid-template-rows: 0.5fr 1fr;
			column-gap: settings.$space-big;
			row-gap: settings.$space-big;
		}
		&__col--left {
			grid-column: 1/2;
			grid-row: 1/2;
			width: 100%;
		}
		&__col--right {
			padding: 0 settings.$space-medium;
			grid-column: 1/2;
			grid-row: 2/3;
		}
	}
}

.login {
	color: settings.$secondary;

	text-align: left;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: settings.$black40;
	z-index: settings.z("sticky-header");
	@extend %display-centered;
	box-shadow: settings.$shadow-drop;
	&__modal {
		position: absolute;
		height: auto;
		background-color: settings.$white;
		min-width: max-content;
		max-width: 100%;
		@media screen and (max-width: settings.$breakpoint-very-small) {
			width: 100%;
		}
		z-index: settings.z("modal-content");
	}
	&__form {
		width: auto;
		margin: settings.$space-huge
			clamp(settings.$space-bigger, 7vw, settings.$space-huge);
		display: flex;
		flex-direction: column;
		row-gap: settings.$space-big;
	}
	&__input {
		width: 100%;
		height: settings.$input-height-regular;
		position: relative;
		font-family: "Montserrat", sans-serif;
		border: settings.$border-regular solid settings.$primary-50;
		font-size: settings.$font-size-regular;
		padding-left: settings.$space-smallest;
		padding-top: 0;
		padding-bottom: 0;
	}
	&__label {
		@include mixins.font(
			settings.$font-regular,
			settings.$font-size-label,
			"Monteserrat",
			sans-serif
		);
	}
}

.checkbox {
	&__container {
		@include mixins.font(
			settings.$font-regular,
			settings.$font-size-verysmall,
			"Monteserrat"
		);

		display: flex;
		align-items: center;
		justify-content: space-between;
		height: auto;
		color: settings.$gray;
		column-gap: settings.$space-smallest;
	}
	&__link {
		color: settings.$primary;
	}
	&__check-input {
		width: settings.$check-input;
		height: settings.$check-input;
	}
}
.password-container {
	position: relative;
}
.eye-icon {
	background-image: url("/../../assets/images/header/icon_eye.webp");
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	width: settings.$icon-width;
	height: settings.$icon-height;
	right: settings.$space-medium;
	top: 65%;
	transform: translateY(-50%);
	cursor: pointer;
}
.postfix {
	color: settings.$primary;
}

.icon-btn {
	border: none;
	background-color: transparent;
	cursor: pointer;
}
