@use "../abstracts/variables" as var;
@use "../abstracts/mixins";

.product-card {
	width: 296px;
	height: 569px;
	// display: flex;
	// align-items: center;
	@extend %display-centered;

	flex-direction: column;
	justify-content: space-between;
	position: relative;
	&__image {
		display: block;
		box-shadow: var.$shadow-drop;
	}
	&__body {
		flex: 1 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	&__title {
		margin: var.$space-big auto 0;
		width: 70%;
	}
	&__text {
		padding: var.$space-regular 0;
	}
	&__price {
		color: var.$secondary;
		font-weight: 700;
		font-size: var.$font-size-medium;
	}
}

.customer-card {
	// width: clamp(260px, 30vw, 33%);
	height: auto;
	width: 40%;
	flex: 0.3 0.3 300px;

	@extend %display-centered;
	flex-direction: column;
	justify-content: space-between;
	padding: 30px;
	box-shadow: var.$shadow-drop;
}
