@use "../base/fonts";
@use "../abstracts/variables" as settings;
@use "../abstracts/mixins";

.footer-container {
	color: settings.$white;
	width: 100%;
	@include mixins.font(
		settings.$font-bold,
		settings.$font-size-medium,
		"Inter"
	);
	.benefits-container {
		background-color: settings.$secondary;
		height: auto;
		background-image: url("../../assets/images/footer/benefits-lines.svg");
		background-size: cover;
	}
	.benefits {
		width: settings.$breakpoint-large;
		margin: 0 auto;
		padding: settings.$space-big settings.$space-smallest;
		@extend %display-centered;
		align-items: flex-start;
		flex-direction: column;
		row-gap: settings.$height-ss;
		min-height: settings.$footer-benefits-height;
		h4 {
			margin: 0 0;
		}
		.list {
			@include mixins.font(settings.$font-medium, settings.$font-size-regular);
			line-height: settings.$line-height-medium;
			display: flex;
			justify-content: space-around;
			li {
				@extend %display-centered;
				justify-content: flex-start;
				span {
					min-width: settings.$footer-benefits-list;
					padding-right: settings.$space-small;
					padding-left: settings.$space-xlarge;
				}
			}
		}
	}
	.info-container {
		width: settings.$breakpoint-large;
		margin: auto;
		display: grid;
		grid-template-columns: repeat(3, 1fr) 1.6fr repeat(2, 1fr);
		color: settings.$black;
		@include mixins.font(settings.$font-regular, settings.$font-size-regular);
		padding-top: settings.$space-big * 4;
		> * {
			padding-bottom: settings.$space-big;
		}
		h4 {
			font-weight: settings.$font-bold;
			margin: settings.$space-big 0;
		}
		p,
		li {
			line-height: settings.$line-height-medium;
		}
		.address-list {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto;
			font-style: normal;
			row-gap: settings.$space-big;
			column-gap: settings.$space-medium;
			.contact-item-wrapper {
				@extend %display-centered;
				justify-content: flex-start;
				flex: 0 1 50%;
				.contact-icon {
					flex-shrink: 0;
					margin-right: settings.$space-medium;
					width: settings.$space-medium + settings.$space-large;
					height: auto;
				}
				.text-container {
					display: inline-flex;
					flex-wrap: wrap;
					flex-grow: 1;
					column-gap: settings.$space-medium;
					.line-part {
						flex: 0 1 auto;
					}
				}
				.footer-bottom {
					@include mixins.font(
						settings.$font-regular,
						settings.$font-size-regular
					);
					text-align: center;
				}
			}
		}
		.footer-main-links {
			align-items: start;
			grid-column: 1/4;
			grid-row: 1/2;
			@extend %display-centered;
			justify-content: space-between;
			width: 100%;
			.footer-group {
				flex: 0 0 settings.$footer-main-link-width;
			}
		}
		.footer-contact {
			grid-column: 5/7;
			grid-row: 1/3;
			address {
				margin-top: settings.$space-big * 3;
			}
		}
		.footer-shipping {
			grid-column: 1/4;
			grid-row: 2/3;
		}
		.footer-bottom {
			text-align: center;
			grid-column: 1/7;
			grid-row: 3/4;
			padding-top: settings.$space-big * 3;
			opacity: settings.$opacity-35;
			p {
				margin: settings.$space-medium 0;
			}
		}
	}
}

@media screen and (max-width: settings.$breakpoint-large) {
	.footer-container {
		.benefits {
			width: settings.$breakpoint-medium;
			.list {
				flex-wrap: wrap;
			}
		}
		.info-container {
			width: settings.$breakpoint-medium;
			grid-template-columns: repeat(3, 1fr) settings.$space-big repeat(2, 1fr);
		}
	}
}
@media screen and (max-width: settings.$breakpoint-medium) {
	.footer-container {
		.benefits {
			width: settings.$breakpoint-small;
			.list {
				justify-content: center;
				flex-wrap: wrap;
				row-gap: settings.$space-medium;
				li {
					justify-content: center;
					flex-basis: 50%;
				}
			}
		}
		.info-container {
			width: settings.$breakpoint-small;
			grid-template-columns: repeat(3, 1fr);
			padding-top: settings.$space-big;
			padding-left: settings.$space-big;
			padding-right: settings.$space-big;

			.footer-main-links {
				grid-column: 1/4;
				grid-row: 1/2;
			}
			.footer-contact {
				grid-column: 1/4;
				grid-row: 3/4;
				address {
					margin-top: settings.$space-big;
				}
			}
			.footer-shipping {
				grid-column: 1/4;
				grid-row: 2/3;
			}
			.footer-bottom {
				grid-column: 1/4;
				grid-row: 4/5;
				padding-top: settings.$space-big;
				padding-bottom: settings.$space-medium;
			}
		}
	}
}

@media screen and (max-width: settings.$breakpoint-small) {
	.footer-container {
		.benefits {
			padding-left: settings.$space-large;
			padding-right: settings.$space-large;
			width: 100%;
			.list {
				row-gap: settings.$space-medium;
			}
		}
		.info-container {
			width: 100%;
			grid-template-columns: repeat(3, 1fr);
			padding-top: settings.$space-big;
			.footer-main-links {
				grid-column: 1/4;
				grid-row: 1/2;
			}
			.footer-contact {
				grid-column: 1/4;
				grid-row: 3/4;
				address {
					margin-top: settings.$space-big;
				}
			}
			.footer-shipping {
				grid-column: 1/4;
				grid-row: 2/3;
			}
			.footer-bottom {
				grid-column: 1/4;
				grid-row: 4/5;
				padding-top: settings.$space-big;
				padding-bottom: settings.$space-medium;
			}
		}
	}
}

@media screen and (orientation: portrait) and (max-width: settings.$breakpoint-very-small) {
	.footer-container {
		.benefits {
			h4 {
				text-align: center;
			}
		}
		.info-container {
			grid-template-columns: 100%;
			h4 {
				text-align: center;
			}
			.footer-main-links {
				grid-column: 1;

				display: flex;
				align-items: center;

				text-align: center;
				flex-direction: column;
				.footer-group {
					flex: 0 0 170px;
				}
			}
			.footer-contact {
				grid-column: 1;
				address {
					margin-top: settings.$space-big;
					.address-list {
						grid-template-columns: 100%;
						.contact-item-wrapper {
							width: 200px;
							justify-self: center;
						}
					}
				}
			}
			.footer-shipping {
				grid-column: 1;
			}
			.footer-bottom {
				grid-column: 1;
				padding-top: settings.$space-big;
				padding-bottom: settings.$space-medium;
			}
		}
	}
}
