@use "../base/fonts";
@use "../abstracts/variables" as settings;
@use "../abstracts/mixins";

%display-centered {
	display: flex;
	justify-content: center;
	align-items: center;
}
%flex {
	flex: 0 0 auto;
}

hr {
	margin: 0;
	padding: 0;
}
.header-container {
	width: 100%;
	background-color: settings.$white;
	position: sticky;
	top: 0;
	z-index: 100;
}
.site-header {
	margin: 0 auto;

	width: settings.$brakepoint-large;

	background-color: settings.$white;
	color: black;

	hr.regular {
		border-top: 1px solid settings.$gray;
		opacity: 0.2;
		border-bottom: 1px transparent;
	}

	.list {
		@extend %display-centered;
		padding: settings.$space-medium 0;

		&.socialmedia {
			gap: settings.$space-big;
			@extend %flex;
		}
		&.account-controls {
			gap: settings.$space-large;
			@extend %flex;

			padding: 0 settings.$space-medium;
			:nth-child(2) {
				position: relative;
				.counter {
					position: absolute;
					top: settings.$space-small * -1;
					left: settings.$space-big;
					color: settings.$primary;
					border: 2px solid settings.$primary;
					border-radius: 50% 50%;
					width: settings.$height-xs;
					height: settings.$height-xs;
					font-size: settings.$font-size-small;
					text-align: center;
					font-weight: 700;
					display: block;
					&--hidden {
						visibility: hidden;
					}
				}
			}
		}

		&.nav-list {
			height: 100%;
			gap: settings.$space-big;
			li:hover,
			li:focus-within {
				color: settings.$primary;
			}
		}
	}
	.dropdown-menu {
		background-color: settings.$secondary;
		color: settings.$white;
		padding: settings.$space-large 0;
		display: none;
		.navigation {
			height: auto;
			.vert {
				flex-direction: column;
			}
		}
		hr.special {
			border: 1px solid settings.$primary;
			width: 75%;
			margin: 0 auto;
			opacity: 1;
		}
		img {
			filter: invert(100%);
		}
		&.show {
			display: block;
		}
	}
}

.header-top {
	@extend %display-centered;
	justify-content: space-between;
	height: settings.$height-l;
	padding: 0 settings.$space-smallest;
	.header-menu {
		display: none;
	}
}
.main-navigation {
	height: settings.$height-m;
	font-weight: settings.$font-bold;
	font-size: settings.$font-size-medium;
}
.header-branding a {
	@extend %display-centered;
	gap: settings.$space-medium;
	height: settings.$height-s;
	.site-name {
		color: settings.$primary;
		font-weight: settings.$font-bold;
		font-size: settings.$font-size-big;
		min-width: max-content;
	}
}

.logo img {
	background-color: settings.$primary;
	width: settings.$height-s;
	height: settings.$height-s;
	border-radius: settings.$radius-medium;
	padding: 1px;
}
.arrow-icon {
	position: relative;
	bottom: 2px;
}

.login {
	color: settings.$secondary;
	text-align: left;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: settings.$black40;
	z-index: 100;
	@extend %display-centered;
	box-shadow: settings.$shadow-drop;
	&__modal {
		position: absolute;
		height: auto;
		background-color: settings.$white;
		min-width: max-content;
		max-width: 100%;
		@media screen and (max-width: settings.$brakepoint-very-small) {
			width: 100%;
		}
		z-index: 102;
	}
	&__form {
		width: auto;
		margin: settings.$space-huge clamp(30px, 7vw, 70px);
		display: flex;
		flex-direction: column;
		row-gap: settings.$space-big;
	}
	&__input {
		width: 100%;
		height: 40px;
		position: relative;
		font-family: "Montserrat", sans-serif;
		border: settings.$border-regular solid settings.$primary;
		font-size: settings.$font-size-regular;
		padding-left: settings.$space-smallest;
		opacity: settings.$opacity-5;
	}
	&__label {
		font-size: settings.$font-size-label;
		@include mixins.font(
			settings.$font-regular,
			settings.$font-size-label,
			"Monteserrat",
			sans-serif
		);
	}
}
.checkbox {
	&__container {
		@include mixins.font(
			settings.$font-regular,
			settings.$font-size-verysmall,
			"Monteserrat",
			sans-serif
		);

		display: flex;
		align-items: center;
		justify-content: space-between;
		height: auto;
		color: settings.$gray;
		column-gap: settings.$space-smallest;
	}
	&__link {
		color: settings.$primary;
	}
	&__check-input {
		width: 14px;
		height: 14px;
	}
}
.password-container {
	position: relative;
}
.eye-icon {
	background-image: url("/../../assets/images/header/icon_eye.webp");
	background-size: cover;
	background-repeat: no-repeat;
	background-size: 18px 14px;
	position: absolute;
	width: 18px;
	height: 14px;
	right: settings.$space-medium;
	align-self: center;
	cursor: pointer;
}
.postfix {
	color: settings.$primary;
}

.icon-btn {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

@media screen and (max-width: settings.$brakepoint-large) {
	.site-header {
		width: settings.$brakepoint-medium;
	}
}
@media screen and (max-width: settings.$brakepoint-medium) {
	.header-top {
		height: settings.$height-m;
	}
	.site-header {
		width: settings.$brakepoint-small;
	}
	.main-navigation {
		height: settings.$height-s;
	}
}
@media screen and (orientation: landscape) and (max-width: settings.$brakepoint-medium) {
	.header-top {
		height: settings.$height-m;
	}
	.main-navigation {
		height: settings.$height-s;
	}
}
@media screen and (max-width: settings.$brakepoint-small) {
	.header-top {
		height: settings.$height-m;
	}
	.site-header {
		width: 100%;
		.list.socialmedia {
			gap: settings.$space-medium;
			padding-left: settings.$space-medium;
			padding-right: settings.$space-medium;
		}
		.header-branding {
			padding: 0 settings.$space-medium 0 settings.$space-medium;
		}
		.list.nav-list {
			gap: settings.$space-medium;
		}
	}
}

@media screen and (orientation: portrait) and (max-width: settings.$brakepoint-very-small) {
	.header-top {
		height: settings.$height-m;
		justify-content: space-between;
		width: 100%;
		.header-menu {
			display: block;
		}
		> :nth-child(1) {
			display: none;
		}
		> :nth-child(3) {
			> :first-child {
				display: none;
			}
		}
		a .site-name {
			font-size: settings.$font-size-large;
		}
	}
	.site-header > .main-navigation {
		display: none;
	}
}
