@font-face {
	font-family: "Montserrat";
	src: url("../../assets/fonts/Montserrat/Montserrat-Regular.ttf") format("ttf");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("../../assets/fonts/Montserrat/Montserrat-Bold.ttf") format("ttf");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: url("../../assets/fonts/Inter/Inter_18pt-Bold.ttf") format("ttf");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Inter";
	src: url("../../assets/fonts/Inter/Inter_18pt-Regular.ttf") format("ttf");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Helvetica";
	src: url("../../assets/fonts/Helvetica/HelveticaNeue-Roman.otf") format("otf");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Helvetica";
	src: url("../../assets/fonts/Helvetica/HelveticaNeue-Medium.otf")
		format("otf");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Helvetica";
	src: url("../../assets/fonts/Helvetica/HelveticaNeue-Bold.otf") format("otf");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
