@font-face {
	font-family: "Montserrat";
	src: url("../../assets/fonts/Montserrat/Montserrat-Regular.ttf") format("ttf");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("../../assets/fonts/Montserrat/Montserrat-Bold.ttf") format("ttf");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
