@use "../base/fonts";
@use "../abstracts/variables" as settings;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	&:link,
	&:visited,
	&:active {
		text-decoration: none;
		color: inherit;
	}
}
h1 {
	margin-top: settings.$space-verybig;
	margin-bottom: settings.$space-big;
	font-weight: settings.$font-black;
	font-size: clamp(1.5em, 1em + 2vw, 4em);
}
h2 {
	font-weight: settings.$font-black;
	font-size: clamp(1.5em, 1.5em + 1vw, 4em);
}

li {
	list-style: none;
	list-style-type: none;
}

body {
	font-family: "Montserrat", sans-serif;
}

.text {
	&--primary {
		color: settings.$primary;
	}
	&--secondary {
		color: settings.$secondary;
	}
	&--white {
		color: settings.$white;
	}
	&--bold {
		font-weight: settings.$font-bold;
	}
}

.spacing-vertical-1 {
	margin: clamp(settings.$space-smallest, 0.8vw, settings.$space-big) 0;
}
.spacing-vertical-2 {
	margin: clamp(settings.$space-small, 2vw, settings.$space-bigger) 0;
}

.spacing-top {
	margin-bottom: 0;
}
.spacing-bottom {
	margin-top: 0;
}

.no-overflow {
	overflow: hidden;
}

.borders-horizontal {
	border-top: 2px solid settings.$primary;
	border-bottom: 2px solid settings.$primary;
}
