@use "../base/fonts";
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body,
ul,
ol {
}
a {
	&:link,
	&:visited,
	&:active {
		text-decoration: none;
		color: inherit;
	}
}
li {
	list-style: none;
	list-style-type: none;
}

body {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	line-height: 100%;
}
