@use "../base/fonts";
@use "../abstracts/variables" as var;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body,
ul,
ol {
}
a {
	&:link,
	&:visited,
	&:active {
		text-decoration: none;
		color: inherit;
	}
}
h1 {
	margin-top: var.$space-verybig;
	margin-bottom: var.$space-big;
	font-weight: var.$font-black;
	font-size: clamp(1.5em, 1em + 2vw, 4em);
}
h2 {
	font-weight: var.$font-black;
	font-size: clamp(1.5em, 1.5em + 1vw, 4em);
}

li {
	list-style: none;
	list-style-type: none;
}

body {
	font-family: "Montserrat", sans-serif;
}

.text {
	&--primary {
		color: var.$primary;
	}
	&--secondary {
		color: var.$secondary;
	}
	&--white {
		color: var.$white;
	}
	&--bold {
		font-weight: var.$font-bold;
	}
}

.spacing-vertical-1 {
	margin: clamp(var.$space-smallest, 0.8vw, var.$space-big) 0;
}
.spacing-vertical-2 {
	margin: clamp(var.$space-small, 2vw, var.$space-bigger) 0;
}

.spacing-top {
	margin-bottom: 0;
}
.spacing-bottom {
	margin-top: 0;
}

.no-overflow {
	overflow: hidden;
}
