@use "../base/fonts";
@use "../abstracts/variables" as var;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body,
ul,
ol {
}
a {
	&:link,
	&:visited,
	&:active {
		text-decoration: none;
		color: inherit;
	}
}
h1 {
	margin-top: var.$space-verybig;
	margin-bottom: var.$space-verybig;
	font-weight: var.$font-black;
}
h2 {
	font-weight: var.$font-black;
}
li {
	list-style: none;
	list-style-type: none;
}

body {
	font-family: "Montserrat", sans-serif;
}
