@use "../base/reset";
@use "../base/fonts";
@use "../abstracts/mixins";
@use "../components/buttons";
@use "../abstracts/variables" as settings;

.table {
	margin: settings.$space-verybig 0;
	@include mixins.font(
		settings.$font-bold,
		settings.$space-large,
		"SFPro",
		sans-serif
	);

	grid-template-columns: 0.125fr;
	grid-template-rows: 59px 1fr;

	&__head {
		color: settings.$white;
		display: grid;
		height: 59px;
		width: 100%;
		align-items: center;
		justify-items: center;
		background-color: settings.$secondary;
		grid-template-columns: 0.4fr 1fr repeat(4, 0.4fr);
		grid-template-areas: "img name price qty total del";
	}
	&__row {
		color: settings.$black;
		display: grid;
		align-items: center;
		justify-items: center;
		height: 100%;
		@include mixins.border-bottom(settings.$primary);

		grid-template-columns: 0.4fr 1fr repeat(4, 0.4fr);
		grid-template-rows: 138px;
		grid-template-areas: "img name price qty total del";
		align-items: center;
	}

	&__col--image {
		display: flex;
		grid-area: "img";
		align-items: center;
		justify-content: center;
	}
	&__col--product-name {
		grid-area: "name";
	}
	&__col--quantity {
		grid-area: "qty";
	}
	&__col--total {
		grid-area: "total";
	}
	&__col--delete {
		grid-area: "del";
		border: none;
		cursor: pointer;
	}

	&__image {
		width: 120px;
		height: 120px;
		object-fit: contain;
	}
	&__input-pcs {
		height: 55px;
		width: 130px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		@include mixins.font(
			settings.$font-bold,
			settings.$font-size-xlarge,
			"SFPro",
			sans-serif
		);
	}
	&__input-item {
		width: 100%;
		height: 100%;
		align-self: center;
		flex: 1 1 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: transform 200ms linear;

		background: none;
		color: inherit;
		border: none;
		padding: 0;
		margin: 0;
		font: inherit;
		cursor: pointer;

		appearance: none;
		-moz-appearance: none;
		&:hover {
			transform: scale(1.05);
			@include mixins.outline(settings.$primary);
		}
	}
	&__input-number {
		color: settings.$black;
		width: 100%;
		height: 100%;
		align-self: center;
		flex: 1 1 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		background: none;
		-webkit-user-select: none;
		user-select: none;
		@include mixins.font(
			settings.$font-bold,
			settings.$font-size-xlarge,
			"SFPro",
			sans-serif
		);
		border: none;
	}
	&__delete {
		display: block;

		&:hover {
			transform: scale(1.05);
		}
	}
}
.table-footer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	gap: settings.$space-xlarge;

	&__col--left {
		grid-column: 1/2;
		grid-row: 1/2;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		gap: settings.$space-xlarge;
	}
	&__col--right {
		grid-column: 2/3;
		grid-row: 1/2;
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
	}
	&__input-item {
		width: 100%;
		height: 100%;
		align-self: center;
		flex: 1 1 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: transform 200ms linear;
		&:hover {
			transform: scale(1.05);
			@include mixins.outline(settings.$primary);
		}
	}
	&__input-number {
		width: 100%;
		height: 100%;
		align-self: center;
		flex: 1 1 auto;
		display: flex;
		border: none;
	}
}
@media screen and (max-width: settings.$breakpoint-small) {
	.table {
		margin: settings.$space-verybig 0;
		@include mixins.font(
			settings.$font-bold,
			settings.$space-medium,
			"SFPro",
			sans-serif
		);

		&__input-pcs {
			height: 100px;
			width: 30px;
			flex-direction: column-reverse;
			align-items: center;
			justify-content: center;
			align-items: center;
			font-weight: settings.$font-bold;
			font-size: settings.$font-size-xlarge;
		}
		&__image {
			width: 60px;
			height: 60px;
			object-fit: contain;
		}
		&__input-item {
			width: 100%;
			height: 100%;
			align-self: center;
			flex: 1 1 1em;
			display: flex;

			justify-content: center;
			align-items: center;
			transition: transform 200ms linear;
			&:hover {
				transform: scale(1.05);
				@include mixins.outline(settings.$primary);
			}
		}
		&__input-number {
			width: 100%;
			height: 100%;
			align-self: center;
			flex: 1 1 1em;
			display: flex;
			border: none;
		}
	}
	.table-footer {
		grid-template-columns: 1fr;
		&__col--left {
			grid-column: 1/2;
			grid-row: 1/2;
			// flex-direction: column;
			justify-content: space-around;
		}
		&__col--right {
			grid-column: 1/2;
			grid-row: 2/3;
		}
	}
}
@media screen and (max-width: settings.$breakpoint-very-small) {
	.table-footer {
		grid-template-columns: 1fr;
		&__col--left {
			grid-column: 1/2;
			grid-row: 1/2;
			flex-direction: column;
		}
		&__col--right {
			grid-column: 1/2;
			grid-row: 2/3;
		}
	}
}
.summary {
	color: settings.$white;

	@include mixins.font(
		settings.$font-bold,
		settings.$font-size-medium,
		"Montserrat",
		sans-serif
	);
	padding: clamp(20px, 3vw, settings.$space-xbigger);
	width: clamp(100%, 60vw, 571px);
	height: auto;
	background-color: settings.$secondary;
	&__item {
		margin-top: settings.$space-regular;
		margin-top: settings.$space-medium;
		height: 40px;
		display: flex;
		justify-content: space-between;
		&:not(:last-of-type) {
			@include mixins.border-bottom(settings.$primary);
		}
	}
	&__checkout {
		margin-top: settings.$space-xbigger;
		font-size: settings.$space-large;
	}
	&__hide {
		display: none;
	}
}
