@use "../abstracts/mixins";
@use "../abstracts/variables" as settings;
@use "../layouts/header";
@use "../layouts/footer";
@use "../components/buttons";
@use "../components/product-card";
body {
	position: relative;
}
.page-control {
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr clamp(313px, 20vw, 330px);
	grid-template-rows: auto;
	column-gap: settings.$space-large;
	row-gap: settings.$space-verybig;
	@media screen and (max-width: settings.$brakepoint-medium) {
		grid-template-columns: 1fr 1fr;
		column-gap: 0;
		padding: 0 settings.$space-medium;
		row-gap: settings.$space-medium;
	}

	&__top-bar {
		position: sticky;
		top: 200px;
		grid-template-columns: 1fr auto clamp(150px, 20vw, 330px) clamp(
				150px,
				20vw,
				330px
			);
		grid-template-rows: 40px;
		grid-column: span 4;
		display: grid;
		column-gap: settings.$space-regular;
		color: settings.$secondary;
		row-gap: settings.$space-small;
		z-index: 2;
		font-size: settings.$font-size-regular;
		background-color: settings.$white;
		padding: settings.$space-regular settings.$space-large;

		@media screen and (max-width: settings.$brakepoint-medium) {
			grid-template-columns: 1fr clamp(160px, 20vw, 330px) clamp(
					160px,
					20vw,
					330px
				);
			grid-column: span 3;
			top: 101px;
		}
		@media screen and (max-width: settings.$brakepoint-very-small) {
			grid-template-columns: 1fr 1fr;
			grid-column: span 2;

			padding-top: settings.$space-regular;
			top: 64px;
		}
	}
	&__pagination-count {
		width: 100%;
		grid-column: 1/2;
		padding: 0 settings.$space-medium;
		align-self: center;
		@media screen and (max-width: settings.$brakepoint-medium) {
			grid-row: 2/3;
			grid-column: 1 / span 2;
		}
		@media screen and (max-width: settings.$brakepoint-small) {
			grid-column: 1 / span 2;
		}
	}
	&__filter-btn {
		width: 100%;
		grid-column: 2/3;
		font-size: settings.$font-size-regular;
		display: grid;
		justify-items: start;

		height: 40px;

		@media screen and (max-width: settings.$brakepoint-medium) {
			grid-column: 1/2;
			grid-row: 1/2;
		}
		@media screen and (max-width: settings.$brakepoint-very-small) {
			grid-row: 2/3;
			justify-items: end;

			grid-column: 2/3;
		}
	}
	&__sort-input {
		grid-column: 3/4;
		height: 40px;
		width: 100%;
		font-family: "Montserrat", sans-serif;
		font-size: settings.$font-size-regular;
		padding-left: settings.$space-smallest;
		border: settings.$border-regular solid settings.$soft-gray;
		@media screen and (max-width: settings.$brakepoint-medium) {
			grid-column: 2/3;
			grid-row: 1/2;
		}
		@media screen and (max-width: settings.$brakepoint-very-small) {
			grid-row: 1/2;
			grid-column: 1/2;
		}
	}

	&__radio-input {
		grid-column: 3/4;
		height: 100%;
		width: settings.$font-size-medium;
		@media screen and (max-width: settings.$brakepoint-medium) {
			grid-column: 2/3;
			grid-row: 1/2;
		}
		@media screen and (max-width: settings.$brakepoint-very-small) {
			grid-row: 1/2;
			grid-column: 1/2;
		}
	}
	&__search-input {
		width: 100%;
		height: 100%;
		position: relative;
		font-family: "Montserrat", sans-serif;
		border: settings.$border-regular solid settings.$soft-gray;
		font-size: settings.$font-size-regular;
		padding-left: settings.$space-smallest;
	}
	&__filter-dropdown {
		width: 100%;
		grid-column: 1/5;
		@media screen and (max-width: settings.$brakepoint-medium) {
			grid-template-columns: 1fr clamp(160px, 20vw, 330px) clamp(
					160px,
					20vw,
					330px
				);
			grid-column: span 3;
		}
		@media screen and (max-width: settings.$brakepoint-very-small) {
			grid-template-columns: 1fr 1fr;
			grid-column: span 2;

			padding-top: settings.$space-regular;
		}

		&--container {
			display: flex;
			padding: 0 settings.$space-medium;
			flex-wrap: wrap;
			column-gap: settings.$space-medium;
		}
	}
	&__main-content {
		grid-column: 1 / 2;
		grid-row: 2/3;
		margin-top: settings.$space-medium;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(296px, auto));
		column-gap: settings.$space-small;
		row-gap: 50px;
		@media screen and (max-width: settings.$brakepoint-medium) {
			grid-column: 1/3;
			grid-row: 2/3;
		}
		@media screen and (max-width: settings.$brakepoint-small) {
			grid-template-columns: repeat(auto-fit, minmax(296px, auto));

			grid-column: 1/3;
			grid-row: 2/3;
		}
	}
	&__sidebar {
		grid-column: 2/3;
		grid-row: 2/3;
		margin-top: settings.$space-medium;
		display: flex;
		flex-direction: column;
		@media screen and (max-width: settings.$brakepoint-medium) {
			grid-column: 1/3;
			grid-row: 4/5;
		}
	}
	&__paginator {
		grid-column: 1/2;
		grid-row: 3/4;

		@extend %display-centered;
		justify-content: space-between;

		padding: 20px;
		@media screen and (max-width: settings.$brakepoint-medium) {
			grid-column: 1/3;
		}
	}
	&__flex-item {
		padding: settings.$space-bigger 0;
		display: flex;
		flex: 1 0 auto;
		flex-direction: column;
		row-gap: settings.$space-medium;
		align-items: flex-start;
	}
}

.first-line {
	min-width: min-content;
	display: inline-block;
}
.second-line {
	min-width: max-content;
	display: inline-block;
}
.hide {
	display: none;
}
.search-container {
	grid-column: 4/5;
	grid-row: 1/2;

	position: relative;
	@media screen and (max-width: settings.$brakepoint-medium) {
		grid-column: 3/4;
	}
	@media screen and (max-width: settings.$brakepoint-very-small) {
		grid-column: 2/3;
	}
}
.search-icon {
	background-image: url("/../../assets/images/cataloge/scope.webp");
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	width: 18px;
	height: 18px;
	right: settings.$space-regular;
	transform: translateY(62%);
}

.recommendation-list {
	display: flex;
	flex-direction: column;
	row-gap: settings.$space-big;
	&__item {
		max-width: 360px;
	}
}
.recommendation-card {
	text-decoration: none;
	display: flex;
	column-gap: settings.$space-medium;
	font-size: settings.$font-size-regular;
	&__picture {
		background-color: rgb(11, 33, 33);
		box-shadow: settings.$shadow-drop;
	}
	&__image {
		display: block;
	}

	&__rating {
		display: inline-flex;
		gap: settings.$space-smallest - 1px;
	}
}

.icon-star {
	display: block;
	width: 12px;
	height: 11px;
	background-size: cover;
	&__yellow {
		background-image: url("../../assets/images/cataloge/yellow_star.webp");
	}
	&__half {
		background-image: url("../../assets/images/cataloge/half_star.webp");
	}
	&__gray {
		background-image: url("../../assets/images/cataloge/gray_star.webp");
	}
}
