@use "../abstracts/_variables" as settings;
@use "../abstracts/mixins";
@use "../components/buttons";
@use "../base/reset";

.also-like {
	&__title {
		display: inline-block;
		@include mixins.font(
			settings.$font-bold,
			settings.$font-size-big,
			"Inter",
			sans-serif
		);
		@include mixins.border-bottom(settings.$primary);

		line-height: 2em;
	}
}
.info {
	@media screen and (max-width: settings.$breakpoint-small) {
		padding: 0 settings.$space-medium;
	}
	&__title {
		display: inline-flex;
		@include mixins.font(
			settings.$font-bold,
			settings.$font-size-regular,
			"Inter",
			sans-serif
		);
		line-height: 2em;
		&:hover,
		&:focus-within {
			@include mixins.border-bottom(settings.$primary);
		}
	}
	&__active {
		@include mixins.border-bottom(settings.$primary);
	}
	&__nav {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	&__nav--link {
		margin: 0 settings.$space-verybig;
	}
	&__details-content,
	&__policy-content {
		color: settings.$gray;
		margin-top: settings.$space-verybig;
		text-align: start;
	}

	&__review-content {
		display: flex;
		column-gap: settings.$space-bigger;
		@media screen and (max-width: settings.$breakpoint-small) {
			flex-direction: column;
		}
	}
	&__col {
		margin: settings.$space-verybig settings.$space-medium;
		text-align: start;
		width: 50%;
		@media screen and (max-width: settings.$breakpoint-small) {
			width: auto;
		}
	}
}

.post {
	&__input {
		border: 1px solid settings.$primary;

		padding: settings.$space-regular;
		@include mixins.font(
			settings.$font-regular,
			settings.$font-size-small,
			"Montserrat",
			sans-serif
		);
		margin-bottom: settings.$space-big;
	}
	&__input-review {
		width: 100%;
	}
	&__input-item {
		flex: 1 1 50%;
	}
	&__flex-wrapper {
		width: 100%;
		display: flex;
		justify-content: space-between;
		column-gap: settings.$space-big;
	}
	&__button {
		font-size: settings.$font-size-small;
		width: settings.$space-ultrabig;
	}
	&__rate {
		@include mixins.font(
			settings.$font-bold,
			settings.$font-size-small,
			"Montserrat",
			sans-serif
		);
		margin: settings.$space-big 0;
	}
	&__title {
		@include mixins.font(
			settings.$font-bold,
			settings.$font-size-medium,
			"Montserrat",
			sans-serif
		);
		margin-bottom: clamp(1em, 5vw, settings.$space-big);
	}
	&__review--image {
		padding-right: settings.$space-big;
	}
	&__review-message {
		margin-bottom: clamp(1em, 5vw, settings.$space-verybig);
	}
	&__review-card {
		display: flex;
	}
	&__author-name {
		color: settings.$secondary;
		@include mixins.font(
			settings.$font-bold,
			settings.$font-size-regular,
			"Montserrat",
			sans-serif
		);
	}
	&__date {
		margin-left: settings.$space-medium;

		color: settings.$gray;
		@include mixins.font(
			settings.$font-regular,
			settings.$font-size-small,
			"Montserrat",
			sans-serif
		);
	}
	&__review-header {
		display: flex;
		justify-content: space-between;
		margin-bottom: settings.$space-bigger;
	}
	&__text {
		line-height: 1.5em;
		@include mixins.font(
			settings.$font-regular,
			settings.$font-size-regular,
			"Montserrat",
			sans-serif
		);
	}
	&__disclaimer {
		@include mixins.font(
			settings.$font-regular,
			settings.$font-size-small,
			"Montserrat",
			sans-serif
		);
	}
	&__checkbox-wrapper {
		width: 100%;
		display: flex;
		justify-content: start;
		align-items: center;
		margin-bottom: settings.$space-big;
	}
	&__input-checkbox {
		width: 16px;
		height: 16px;
		border: 2px solid settings.$gray;
	}
}

.product {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	column-gap: clamp(1em, 4vw, 43px);
	height: fit-content;
	@media screen and (max-width: settings.$breakpoint-small) {
		grid-template-columns: 1fr;
		row-gap: clamp(1em, 4vw, 43px);
	}

	&__col--left {
		width: 100%;
		@media screen and (max-width: settings.$breakpoint-small) {
			padding: 0 settings.$space-medium;
		}
	}
	&__main-picture {
		width: 100%;
		height: auto;
		margin-bottom: settings.$space-small;
	}
	&__main-image {
		display: block;
		width: 100%;
		height: auto;
		object-fit: cover;
	}

	&__thumbnails-container {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		column-gap: settings.$space-medium;
	}

	&__thumbnail-image {
		width: 100%;
		height: auto;
		flex: 1;
		aspect-ratio: 1 / 1;
		object-fit: cover;
	}
	&__header {
		@extend %margin-bottom;
	}
	&__title {
		@include mixins.font(
			settings.$font-bold,
			clamp(1em, 3vw, 3em),
			"Inter",
			sans-serif
		);

		@extend %margin-bottom;
	}
	&__col--right {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media screen and (max-width: settings.$breakpoint-small) {
			padding: 0 settings.$space-medium;
		}
	}
	&__price {
		@include mixins.font(settings.$font-bold, 20px, "Montserrat", sans-serif);
	}
	&__rating {
		margin: 0 settings.$space-big settings.$space-small 0;

		text-align: center;
		@include mixins.font(
			settings.$font-regular,
			settings.$font-size-small,
			"Montserrat",
			sans-serif
		);
	}
	&__body {
		height: 100%;
	}
	&__description {
		color: settings.$secondary;
		@include mixins.font(
			settings.$font-regular,
			settings.$font-size-medium,
			"Montserrat",
			sans-serif
		);
		@extend %margin-bottom;
	}
	&__footer {
		height: auto;
		display: inline-flex;
		justify-content: flex-start;
		align-items: center;
		vertical-align: baseline;
		color: settings.$gray;
		column-gap: clamp(0.5em, 1.5vw, 1em);
		@include mixins.font(
			settings.$font-bold,
			settings.$font-size-large,
			"Montserrat",
			sans-serif
		);
	}
	&__form {
		display: flex;
		flex-direction: column;
		row-gap: settings.$space-bigger;
		row-gap: clamp(1em, 1.5vw, 3em);

		@extend %margin-bottom;
	}
	&__form--item {
		padding: settings.$space-bigger 0;
		display: flex;
		flex: 1 0 auto;
		flex-direction: column;
		row-gap: settings.$space-medium;
		align-items: flex-start;
	}
	&__select-input {
		color: #727174;

		@extend %margin-top;

		height: 40px;
		width: 100%;
		font-family: "Montserrat", sans-serif;
		font-size: settings.$font-size-regular;
		padding-left: settings.$space-smallest;
		border: settings.$border-regular solid settings.$soft-gray;
	}
	&__input-pcs {
		height: 55px;
		width: 130px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		color: #727174;
		@include mixins.font(
			settings.$font-bold,
			settings.$font-size-xlarge,
			"Montserrat",
			sans-serif
		);
		border: settings.$border-regular solid settings.$primary;
	}
	&__input-item {
		width: 100%;
		height: 100%;
		align-self: center;
		flex: 1 1 auto;
		display: flex;
		justify-content: center;
		align-items: center;

		&:hover,
		&:focus-within {
			transform: scale(1.1);
		}
	}
	&__input-number {
		width: 100%;
		height: 100%;
		align-self: center;
		flex: 1 1 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: settings.$gray;
		background: none;
		@include mixins.font(
			settings.$font-bold,
			settings.$font-size-xlarge,
			"Montserrat",
			sans-serif
		);
		border: none;
	}

	&__input-button {
		height: auto;
		flex: 1 1 auto;
	}
	&__flex-row {
		@include mixins.font(
			settings.$font-bold,
			settings.$font-size-regular,
			"Inter",
			sans-serif
		);
		display: flex;
		flex-direction: row;
		column-gap: settings.$space-medium;

		@extend %margin-top;
	}
	&__options-group {
		border: none;
		padding: 0;
		margin: 0;
		min-width: 0;
		width: 100%;
		display: block;
	}
}
