@use "variables" as settings;

@mixin font($fontWeight, $fontSize, $fontFamily...) {
	font-family: $fontFamily;
	font-weight: $fontWeight;
	font-size: $fontSize;
}

@mixin background-overlay($url) {
	background-image: linear-gradient(settings.$black40, settings.$black40),
		url($url);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: settings.$white;
}

@mixin hoverable() {
	transform: scale(1.02);
	transition: transform 0.15s ease-in-out;
}

%display-centered {
	display: flex;
	justify-content: center;
	align-items: center;
}
