@use "sass:list";
@use "variables" as settings;

// @mixin font($fontWeight, $fontSize, $fontFamily...) {
// 	font-family: $fontFamily, Verdana, Geneva, Tahoma, sans-serif;
// 	font-weight: $fontWeight;
// 	font-size: $fontSize;
// }
@mixin font($fontWeight: null, $fontSize: null, $fontFamily...) {
	@if ($fontWeight) {
		font-weight: $fontWeight;
	}
	@if ($fontSize) {
		font-size: settings.rem($fontSize);
	}
	@if list.length($fontFamily) > 0 {
		font-family: $fontFamily, Verdana, Geneva, Tahoma, sans-serif;
	}
}

@mixin background-overlay($url) {
	background-image: linear-gradient(settings.$black40, settings.$black40),
		url($url);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: settings.$white;
}
@mixin background-overlay-gray-30($url) {
	background-image: linear-gradient(settings.$gray-30, settings.$gray-30),
		url($url);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: settings.$white;
}
@mixin background-overlay-black-50($url) {
	background-image: linear-gradient(settings.$black50, settings.$black50),
		url($url);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: settings.$white;
}

@mixin hoverable() {
	transform: scale(1.02);
	transition: transform 0.15s ease-in-out;
}

%display-centered {
	display: flex;
	justify-content: center;
	align-items: center;
}

%margin-bottom {
	margin-bottom: clamp(1em, 2vw, 3em);
}
%margin-top {
	margin-top: clamp(1em, 1vw, 3em);
}

@mixin border-bottom($color: red) {
	border-bottom: 2px solid $color;
}
@mixin border-top($color: red) {
	border-top: 2px solid $color;
}
@mixin border-sides($color: red) {
	border-left: 2px solid $color;
	border-right: 2px solid $color;
}
@mixin outline($color: red) {
	outline: 2px solid $color;
}
