$primary: #b92770;
$secondary: #504e4a;
$light-gray: #727174;
$white: #ffffff;

$space-smallest: 6px;
$space-small: 8px;
$space-medium: 12px;
$space-large: 18px;
$space-big: 24px;
$space-verybig: 34px;

$font-size-small: 12px;
$font-size-regular: 15px;
$font-size-medium: 18px;
$font-size-large: 22px;
$font-size-big: 30px;

$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

$brakepoint-large: 1440px;
$brakepoint-medium: 1024px;
$brakepoint-small: 768px;
$brakepoint-very-small: 511px;

$height-xs: 18px;
$height-s: 36px;
$height-m: 64px;
$height-l: 135px;

$radius-small: 4px;
$radius-medium: 8px;
$radius-large: 12px;
$radius-big: 20px;
