@use "sass:math";
@use "sass:meta";
@use "sass:map";

@function rem($value) {
	@if meta.type-of($value) != "number" {
		@return $value;
	}

	@if not math.is-unitless($value) and math.unit($value) == "rem" {
		@return $value;
	}

	@if math.is-unitless($value) {
		@return math.div($value, 16) + rem;
	} @else if math.unit($value) == "px" {
		@return math.div($value, 16px) * 1rem;
	} @else {
		@return $value;
	}
}

$z-layers: (
	"default": 1,
	"header-top": 2,
	"search-popup": 20,
	"sticky-header": 100,
	"modal-overlay": 101,
	"modal-content": 102,
);

@function z($layer) {
	@if not map.has-key($z-layers, $layer) {
		@error "Now such layer '#{$layer}}' in $z-layer map.";
	}
	@return map.get($z-layers, $layer);
}

$primary: #b92770;
$primary-50: #b9277080;
$secondary: #504e4a;
$gray: #727174;
$light-gray: #e7e8e9;
$soft-gray: #e9e9ed;
$black: #000;
$black40: #00000066;
$black50: #00000080;
$gray-30: #c1c7d44d;
$white: #fff;
$success: #2ea123;
$failure: #a02323;

$space-smallest: rem(6px);
$space-small: rem(8px);
$space-medium: rem(12px);
$space-regular: rem(16px);
$space-large: rem(18px);
$space-xlarge: rem(20px);
$space-big: rem(24px);
$space-xbig: rem(27px);
$space-bigger: rem(30px);
$space-xbigger: rem(42px);
$space-verybig: rem(60px);
$space-huge: rem(70px);
$space-ultrabig: rem(90px);
$space-mega: rem(120px);
$table-row: rem(135px);

$font-size-verysmall: rem(9px);
$font-size-small: rem(12px);
$font-size-label: rem(14px);
$font-size-regular: rem(15px);
$font-size-medium: rem(17px);
$font-size-travelcard: rem(19px);
$font-size-xmedium: rem(20px);
$font-size-large: rem(22px);
$font-size-xlarge: rem(25px);
$font-size-big: rem(30px);
$font-size-ultrabig: rem(40px);
$font-size-mega: rem(50px);
$font-size-xmega: rem(223px);

$btn-height-small: rem(28);
$btn-height-regular: rem(40);
$btn-height-medium: rem(42);
$btn-height-large: rem(60);

$btn-width-small: rem(54);
$btn-width-medium: rem(40);
$btn-width-regular: rem(159);
$btn-width-large: rem(224);
$button-arrival-width: rem(200px);
$btn-feedback-width: rem(90px);

$btn-width-clamp-min: rem(120);
$btn-width-clamp-max: rem(229);

$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
$font-black: 900;

$dimention-2: 110px;
$popup-width: rem(400px);
$popup-height: rem(100px);
$popup-search-height: rem(200px);
$popup-search-top-offset: rem(200px);
$travel-card-width: rem(296px);
$travel-card-height: rem(600px);
$travel-card-spacing: rem(57px);
$flat-her-height: rem(554px);
$award-item-width: rem(244px);
$award-item-height: rem(237px);
$flat-hero-height-min: rem(180px);
$flat-hero-height-max: rem(554px);
$flat-hero-cart-height: rem(229);
$input-height-regular: rem(40px);
$check-input: rem(14px);
$icon-width: rem(18px);
$icon-height: rem(14px);
$product-card-width: rem(296px);
$product-card-height: rem(569px);
$customer-card-width: rem(300px);

$team-image-width: rem(180px);

$product-card-title: 70%;
$layout-container-width: 80%;

$breakpoint-large: 1440px;
$breakpoint-medium: 1024px;
$breakpoint-small: 768px;
$breakpoint-very-small: 511px;

$breakepoints: (
	"large": $breakpoint-large,
	"medium": $breakpoint-medium,
	"small": $breakpoint-small,
);

$height-xs: rem(18px);
$height-s: rem(36px);
$height-m: rem(64px);
$height-l: rem(135px);

$line-height-small: 80%;

$line-height-regular: 100%;
$line-height-medium: 160%;
$line-height-medium: 200%;

$border-regular: rem(2px);

$radius-small: 4px;
$radius-medium: 8px;
$radius-large: 12px;
$radius-big: 20px;

$shadow-drop: 0 20px 80px 0 #c1c7d4b3;

$opacity-5: 0.5;
$opacity-7: 0.7;
